html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style: none;
}

header {
    position: fixed;
    z-index: 10;
    height: 65px;
    background-color: rgb(23, 71, 57);
    width: 100%;
    margin-top: 0;
    text-align: center;
    opacity: 0.9;
}

.section {
    line-height: 65px;
}

.section p {
    display: inline-block;
    width: 20%;
    color: ivory;
}

.fa-bars {
    display: none;
}

.home-wrapper {
    height: 600px;
    background-image: url("https: //github.com/Shunnie816/Shunnie816.github.io/blob/8553c68ca18029bb47c0f2d8c8c5c18924175433/OneDrive/%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88/Programming/Shunnie's%20room/img/S__68747269.jpg");
    background-position: 50% 40%;
    background-size: cover;
    opacity: 0, 9;
}

.page-title {
    color: seashell;
    text-align: center;
}

.page-title h1 {
    padding: 200px 0 50px 0;
    font-size: 70px;
}

.sub-title {
    font-size: 25px;
    margin-top: 90px;
}

.about-me-wrapper {
    background-color: lightgoldenrodyellow;
    /* padding: 100px 0 80px 0; */
}

.headline {
    padding-top: 30px;
    border-bottom: 2px solid dimgray;
    font-size: 32px;
    text-align: center;
    color: darkslategray;
    cursor: pointer;
}


.my-img {
    float: left;
    width: 50%;
    padding: 0 20px 0 20px;
}

.my-img img {
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-radius: 6px;
}

.description {
    float: right;
    width: 50%;
    color: darkslategray;
    font-size: 25px;
    margin-bottom: 10px;
}


.hobbies-wrapper {
    background-color: lightgoldenrodyellow;
    /* padding: 100px 0 80px 0; */
}


.hobby {
    float: left;
    padding: 0 5px 0 5px;
    font-size: 25px;
    text-align: center;
    color: darkslategray;
    width: 25%;
}

.hobby img {
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-radius: 6px;
}

.piano img {
    object-position: 63% 20%;
}

.bike img {
    object-position: 43% 50%;
}

.game img {
    object-position: 10% 0;
}

.clear {
    clear: left;
}

.contact-me {
    padding-bottom: 80px;
}

.message {
    margin: 70px 0 40px 0;
    text-align: center;
    font-size: 20px;
    color: darkslategray;
}

#btn {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
}

#btn:hover {
    cursor: pointer;
}

footer {
    border-top: 1px solid rgba(105, 105, 105, 0.8);
    height: 80px;
}

.footer-logo {
    line-height: 60px;
    color: rgb(23, 71, 57);
    font-size: 25px;
}

/* classes for toggle */
.closed {
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.is-open {
    height: auto;
    transition: .5s;
    padding: 30px 0 45px 0;
}

/* classes for modal window */
.modal {
    display: none;
    text-align: center;
    padding: 20px 0 30px 0;
    margin: 0 auto;
    background-color: antiquewhite;
    height: 100px;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 35%;
    border: solid 3px;
    border-radius: 4px;
    border-color: darkslategray;
}

.modal p {
    font-size: 20px;
}

.modal-close-btn {
    position: relative;
}

.fa-xmark {
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.fa-xmark:hover {
    cursor: pointer;
}


/*
.fa-twitter {
    font-size: 12px;
    color: black;
} */