@media(max-width: 1150px) {



    /* .page-title h1 {
        font-size: 55px;
    } */

    /* .sub-title {
        font-size: 18px;
    } */

    .headline {
        font-size: 26px;
    }

    .my-img {
        float: none;
        width: 60%;
        padding: 0 55px 0 55px;
        text-align: center;
    }

    .my-img img {
        object-fit: contain;
        height: fit-content;
        border-radius: 6px;
    }

    .description {
        float: none;
        width: 100%;
        font-size: 20px;
        text-align: left;
        padding: 0 55px 0 55px;
    }

    .hobby {
        padding: 20px 15px 20px 15px;
        font-size: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .message {
        font-size: 18px;
        margin: 0 5px 0 5px;
    }

    .footer-logo {
        margin-left: 15px;
        font-size: 20px;
    }

}

@media(max-width: 670px) {

    /* 共通部分
    ---------------------------------------------------- */
    .headline {
        font-size: 18px;
    }


    /* header 
    ----------------------------------------------------*/
    header {
        background: none;
    }

    .section {
        display: none;
    }

    .fa-bars {
        display: block;
        float: right;
        font-size: 4.0rem;
        color: darkslategray;
        margin: 5% 5%;
        /*font-sizeが適用されない, display blockも×になっている*/
    }

    #white-bar {
        color: seashell;
    }

    /* home 
    ----------------------------------------------------*/
    .page-title h1 {
        font-size: 4.0rem;
    }

    .page-title p {
        font-size: 2.0rem;
        margin-top: 90%;
    }

    /* submenu 
    ----------------------------------------------------*/

    .submenu {
        background-color: ivory;
        height: 100vh;
    }

    .submenu-title {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 15%;
        color: darkslategray;
    }

    .submenu-btn {
        margin-left: 10%;
        margin-top: 10%;
    }

    .submenu-btn li {
        margin: 20px 0;
    }

    .submenu-btn a {
        font-size: 1.8rem;
        font-weight: bold;
        color: darkslategray;
    }

    .fa-x {
        font-size: 4.0rem;
        margin: 5% 5%;
        float: right;
        color: darkslategray;
    }

    /* about-me 
    ----------------------------------------------------*/
    .profile {
        flex-direction: column;
    }

    .profile img {
        width: 100%;
        padding: 1.5rem;
        border-radius: 1.0rem;
    }

    .profile p {
        width: 100%;
        font-size: 2.0rem;
        padding: 0 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 3.0rem;
    }

    /* hobbies
    ---------------------------------------------------- */
    .hobby {
        font-size: 2.0rem;
        grid-template-columns: 1fr;
    }

    /* contact me 
    ----------------------------------------------------*/


    /* footer 
    ----------------------------------------------------*/
    footer {
        height: 4.0rem;
    }

    .footer-logo {
        font-size: 1.5rem;
        line-height: normal;
        padding-top: 0.5rem;
    }

}